<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Media Store</title>

    <!------------------------------------Frameworks--------------------------->
    <link href="/Assets/css/bootstrap/bootstrap.min.css">
    <!------------------------------------Styles--------------------------->
    <link rel="stylesheet" href="/Assets/template/Assets/css/style.css">

</head>
<body>
    <header class="header">
        <nav>
            <li></li>
        </nav>
    </header>
    <!------------------------------------Plugins--------------------------->
    <script src="/Assets/js/plugins/sweetalert.js"></script>
    <!------------------------------------Framework--------------------------->
    <script src="/Assets/js/bootstrap/popper.min.js"></script>
    <script src="/Assets/js/bootstrap/bootstrap.min.js"></script>
    <!------------------------------------Functions--------------------------->
    <script src="/Assets/js/functions.js"></script>
    <script type="module" src="/Assets/js/app.js"></script>
</body>
</html>