@import "variable";
.mail-item{
    max-height: 200px;
    margin: 20px 10px;
    h2{
        height: 25px;
        text-overflow:ellipsis;
        overflow: hidden;
    }
    overflow: hidden;
}
.mail-info{
    height: 25px;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 0 2px;
}