@import "variable";
.mail-item{
    max-height: 200px;
    margin: 15px 10px;
    h2{
        height: 25px;
        text-overflow:ellipsis;
        overflow: hidden;
    }
}
.mail-message{
    max-height: 75px;
    text-overflow:ellipsis;
    overflow: hidden;
}