@import "variable";

.product-cant{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    i{
        color: $cultured;
    }
    div{
        cursor: pointer;
        background-color:$blueJeans;
        height: 100%;
        padding: 8px 16px;
    }
    input{
        padding: 0;
        text-align: center;
        font-weight: bold;
        border: 1px solid $blueJeans;
        height: 100%;
    }
    button{
        background-color: $blueJeans;
        color:$cultured;
        text-align: center;
        width: 125px;
        height: 100%;
        border: none;
        &:hover{
            background-color: $azure;
        }
    }
}
.product-social{
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    margin-right: 10px;
    height: 25px;
    li{
        text-align: center;
        width: 30px;
        height: 100%;
        margin-right: 10px;

        border-radius: 50%;
        a{
            text-decoration: none;
            color:#000;
        }
        &:hover{
            background-color: $blueJeans;
            a{
                color:$cultured;
            }
        }
    }
}
.comment-list{
    list-style: none;
    padding: 0;
    padding-top: 10px;
    .comment-block{
        position: relative;
        padding: 0 0 5px 144px;
        margin-bottom: 30px;
        min-height: 200px;
        .comment-img{
            position: absolute;
            width: 120px;
            left: 0;
            top:0;
            img{
                height: 120px;
                width: 100%;
            }
        }
        .comment-feedb{
            h3{
                font-size: 20px;
                padding-left: 50px;
                position: relative;
                &::before{
                    content:" ";
                    position: absolute;
                    width: 45px;
                    height: 2px;
                    top: 50%;
                    left: 0;
                    background-color: #000;
                }
            }
        }
        .comment-answer{
            height: 0;
            margin-top: 10px;
            padding-left:40px;
            position: relative;
            transition: all 0.3s;
            overflow: hidden;
            &::before{
                content:" ";
                position: absolute;
                left: 20px;
                height: 100%;
                width: 5px;
                background-color: $azure;
            }
            
        }
    }
}
#formReview{
    width: 50%;
}
.review-rate{
    button{
        background-color: unset;
        border: none;
        color: $azure;
    }
}
.review-stars{
    i{
        font-size: 0.75rem;
    }
}
.btn-del{
    position: absolute;
    top:-10px;
    left:0;
    padding: 3px 10px;
    color:$azure;
    font-size: 12px;
    background-color: #fff;
    border: 1px solid $azure;
    border-radius: 50%;
    cursor: pointer;
}
