@import "variable";

.product-cant{
    display: flex;
    align-items: center;
    height: 40px;
    i{
        color: $cultured;
    }
    div{
        cursor: pointer;
        background-color:$blueJeans;
        height: 100%;
        padding: 8px 16px;
    }
    input{
        padding: 0;
        text-align: center;
        font-weight: bold;
        border: 1px solid $blueJeans;
        height: 100%;
    }
    .product-btn{
        background-color: $blueJeans;
        color:$cultured;
        text-align: center;
        width: 125px;
        &:hover{
            background-color: $azure;
        }
    }
}