@import "variable";

#filter{
    display: none;
}
.filter-options-overlay{
    display: none;
    position: fixed;
    z-index: 1001;
    left:0;
    top:0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.151);
}
.filter-price{
    margin-top: 20px;
    position: relative;
    .track{
        height: 5px;
        background-color: #ddd;
        width: 100%;
        margin: auto;
        position: absolute;
        top:0;
        bottom: 0;
        border-radius: 5px;
    }
    input[type="range"]{
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        width: 100%;
        position: absolute;
        top:0;
        bottom: 0;
        background-color: transparent;
        pointer-events: none;
        margin: auto;
    }
    input[type="range"]::-webkit-slider-runnable-track{
        -webkit-appearance: none;
        height: 5px;
    }
    input[type="range"]::-webkit-slider-thumb{
        margin-top: -5px;
        -webkit-appearance: none;
        pointer-events: auto;
        height: 15px;
        width: 15px;
        border-radius: 50%;
        background-color: $first-color;
        cursor: pointer;
    }
    
}
.featured{
    padding: 10px;
    background-color: #fff;
}
.featured-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.featured-btns{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.featured-container-items{
    width: 100%;
    height: 400px;
    display: flex;
    scroll-behavior: smooth;
    overflow: hidden;
    overflow-x: scroll;
    &::-webkit-scrollbar{
        display: none;
    }
}
.featured-items{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 10px;
    flex: 0 0 auto;
}
.featured-item{
    margin: 12px 0;
    padding: 5px;
    height: 100px;
    .product-rate{
        font-size: 15px;
    }
    img{
        height: 100%;
        width: 100%;
    }
    h3{
        text-overflow: clip;
        overflow: hidden;
        font-size: 18px;
        margin: 0;
        a{
            text-decoration: none;
            color:#000;
        }
    }
    p{
        margin: 0;
        color:$first-color;
    }
}
.pagination{
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pagination-btn{
    margin: 0 5px;
    cursor: pointer;
    padding: 5px 15px;
    border: 1px solid $first-color;
    border-radius: 50%;
    color: #000;
    &:hover{
        background-color: $first-color;
        color:$third-color;
    }
}
.pagination-pag{
    
    ul{
        padding: 0;
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        a{
            text-decoration: none;
            width: 40px;
            text-align: center;
            cursor: pointer;
            margin: 0 5px;
            padding: 5px 10px;
            border: 1px solid $first-color;
            border-radius: 50%;
            color:#000;
            &:hover{
                background-color: $first-color;
                color:$third-color;
            }
        }
        a.active{
            background-color: $first-color;
            color:$third-color;
        }
    }
}
