@import "variable";
.list-none{
    list-style: none;
}
.scroll-y{
    overflow-y: scroll;
}
.scroll-x{
    overflow-x: scroll;
}
.t-p{
    color:$azure;
}
.t-s{
    color:$blueJeans;
}
.t-w{
    color:$cultured;
}
.c-p{
    cursor: pointer;
}
.bg-p{
    background-color: $azure;
}
.bg-s{
    background-color: $blueJeans;
}
.bg-w{
    background-color: $cultured;
}
.af-b-line{
    &::after{
        content: " ";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: $azure;
    }
}
.af-t-line{
    &::after{
        content: " ";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: $azure;
    }
}
.af-s-line{
    &::after{
        content: " ";
        position: absolute;
        top: 0;
        left: 0;
        width: 2px;
        height: 100%;
        background-color: $azure;
    }
}
.af-e-line{
    &::after{
        content: " ";
        position: absolute;
        top: 0;
        right: 0;
        width: 2px;
        height: 100%;
        background-color: $azure;
    }
}