@import "variable";
.list-none{
    list-style: none;
}
.scroll-y{
    overflow-y: scroll;
}
.scroll-x{
    overflow-x: scroll;
}
.t-p{
    color:$azure;
}
.t-s{
    color:$blueJeans;
}
.t-w{
    color:$cultured;
}
